API_ID=29912924
API_HASH=ce87e4c71752c1589599dda1c20d796d
BOT_TOKEN=8354691358:AAE_ZrB6hSIMbhrB4AOn5TgmpvnfgoWJtes
MONGO_DB_URI=mongodb+srv://kelra:kelra@cluster0.tagsp75.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1003044959349
OWNER_ID=366386651
STRING_SESSION=BQF4BuYAh5dB2dc8U74ZdqeeNtrUrEzz8_b3KzBsqfzkRKK1tSaa3zIl0UN9505NuE4LH_Frls8zUwjqBqLg29q8hWyTyMeFA_S8JbjGYsdEVbThEgcCrnrcJcT-XREqRy_ITIlaYFKAvpA2NOZRut084ZBCOgxfXpNSawbLl1BbQPiNzfH3kO4uSWo3PXB41D6Ywgb18SfG3x95dx3TL8cWYdXIkvTd2lQccFkB5IvzQazYkd77ypAzB2TKq3jDiLD3xGoH9hMAj2C_J7ckhD5sd5YMIqOPdkZB-9nv2NmS3jbmDe5MH_9iVCgzgENIN_j2GjEb8ooPmgbodKtcKJPfdShxFwAAAAGFKtWeAA
