API_ID=29912924
API_HASH=ce87e4c71752c1589599dda1c20d796d
BOT_TOKEN=8354691358:AAE_ZrB6hSIMbhrB4AOn5TgmpvnfgoWJtes
MONGO_DB_URI=mongodb+srv://kelra:kelra@cluster0.tagsp75.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1003044959349
OWNER_ID=366386651
STRING_SESSION=
